<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

	<test thread-count="5" name="Testchrome">
	   <parameter name="browser" value="chrome" />
		<classes>
			<class name="com.swaglabtest.testcases.MainPageLoginTest" />
			<class name="com.swaglabtest.testcases.NewPurchaseTest" />
			</classes>
	</test>
	<test thread-count="5" name="Testfirefox">
	   <parameter name="browser" value="firefox" />
		<classes>
			<class name="com.swaglabtest.testcases.MainPageLoginTest" />
			<class name="com.swaglabtest.testcases.NewPurchaseTest" />
			</classes>
	</test>
</suite>